@font-face {
  font-family: contentTitle;
  src: url('/assets/fonts/Againts.ttf') format('truetype');
}
@font-face {
  font-family: contentText;
  src: url('/assets/fonts/Monda-Regular.woff2') format('woff2');
}
@font-face {
  font-family: contentTextBold;
  src: url('/assets/fonts/Monda-Bold.woff2') format('woff2');
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  position: relative;
  color: #ffffff;
  font-family: contentText;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: contentTitle;
  font-size: 100px;
  text-align: center;
}
#navbar {
  position: fixed;
  top: 3.5rem;
  right: 6.25rem;
}
#navbar a {
  transition: border-bottom 600ms linear;
}
#navbar a:hover {
  border-bottom: 1px solid #fdad4b;
  transition: border-bottom 600ms linear;
}
#navbar a:nth-child(-n + 2) {
  margin-right: 80px;
}
#home {
  background: transparent url(images/background_image_large.jpg) center center
    no-repeat;
}
#menu,
#contact {
  background: radial-gradient(50% 50% at 50% 50%, #080e1a 0%, #04070d 100%);
}
#home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu h1,
#contact h1 {
  padding: 142px 0 48px 0;
}
#contact h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
main {
  min-height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__container {
  min-width: 630px;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__container h2 {
  position: relative;
  font-size: 48px;
  font-family: contentTextBold;
  text-transform: uppercase;
}
.form__container h2::before {
  content: url(images/shapes.png);
  position: absolute;
  right: -110px;
  z-index: -1;
}
.form__container h2,
.form__container div {
  padding-bottom: 80px;
}
.form__container nav {
  min-width: 340px;
  display: flex;
  justify-content: space-around;
}
.form__container div p:first-child {
  padding-bottom: 24px;
}
.fa-map-marker-alt,
.fa-phone-alt {
  margin-right: 24px;
}
.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 460px;
  position: relative;
}
.elements__wrapper {
  position: absolute;
}
.elements__wrapper:nth-child(2) {
  z-index: 999;
}
.elements__wrapper:first-child {
  left: 15%;
  opacity: 0.5;
}
.elements__wrapper:last-child {
  right: 15%;
  opacity: 0.5;
}
.elements__wrapper:first-child .elements__header,
.elements__wrapper:last-child .elements__header {
  opacity: 0;
}
.elements__header {
  font-size: 40px;
  font-family: contentTextBold;
  line-height: 3.75rem;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: -120px;
}
.elements__header p {
  font-size: 16px;
  font-family: contentText;
  text-align: right;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
}
.display__none {
  display: none;
}
