*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  background-color: red;
}

#menu {
  background-color: rebeccapurple;
}

#contact {
  background-color: royalblue;
}
